service: octillion-backend

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  architecture: x86_64

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:GetObject
            - s3:DeleteObject
            - s3:ListBucket
          Resource:
            - "arn:aws:s3:::${env:S3_BUCKET_NAME}"
            - "arn:aws:s3:::${env:S3_BUCKET_NAME}/*"
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
          Resource: "arn:aws:lambda:${self:provider.region}:*:function:${self:service}-${sls:stage}-processor"
  environment:
    PORT: ${env:PORT, '5002'}
    SUPABASE_URL: ${env:SUPABASE_URL}
    SUPABASE_ANON_KEY: ${env:SUPABASE_ANON_KEY}
    SUPABASE_SERVICE_KEY: ${env:SUPABASE_SERVICE_KEY}
    SUPABASE_JWT_KEY: ${env:SUPABASE_JWT_KEY}
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
    QDRANT_URL: ${env:QDRANT_URL}
    QDRANT_API_KEY: ${env:QDRANT_API_KEY}
    OPENAI_API_KEY: ${env:OPENAI_API_KEY}
    WORKER_FUNCTION_NAME: octillion-backend-dev-processor
    NODE_ENV: ${env:NODE_ENV}
    TRANSFORMERS_CACHE: /var/task/.cache/huggingface

functions:
  api:
    image: 589820791139.dkr.ecr.us-east-1.amazonaws.com/serverless-octillion-backend-dev@sha256:8e0719e713daf426703a88f9d9ebc70f59be98b98f932d50061d83e1640e74b2
    timeout: 29
    memorySize: 2048
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY

  processor:
    image: 589820791139.dkr.ecr.us-east-1.amazonaws.com/serverless-octillion-backend-dev@sha256:8e0719e713daf426703a88f9d9ebc70f59be98b98f932d50061d83e1640e74b2
    timeout: 900
    memorySize: 3008
